.boardCell {
    width: 52px;
    height: 52px;
    cursor: pointer;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boardCellNumber {
    font-size: 36px;
    font-weight: bold;
}

.boardCell.empty {
    background-color: white;
}

.boardCell.bomb {
    background-color: red;
}

.boardCell.untouched {
    background-color: gray;
}

.boardCell.number {
    background-color: white;
}

.boardCell.won {
    background-color: green;
}

.boardCell.probableBomb {
    background-color: rgb(255, 225, 0);
}

.boardCell .bombImage {
    width: 36px;
    height: 36px;
    object-fit: contain;
}
